URxvt.scrollBar: false
URxvt.perl-ext-common: default,clipboard
URxvt.tabbed.new-button: true
! Xcursor --------------------------------------------------------------------

Xcursor.theme: Adwaita
Xcursor.size:  22

! special
URxvt*.foreground:   #9B9B9B
URxvt*.background:   #2d2d2d
URxvt*.cursorColor:  #9B9B9B

! black
URxvt*.color0:       #242424
URxvt*.color8:       #373b41

! red
URxvt*.color1:       #d45050
URxvt*.color9:       #542525

! green
URxvt*.color2:       #cdcdcd
URxvt*.color10:      #7b7b7b

! yellow
URxvt*.color3:       #ffefe3
URxvt*.color11:      #ffebc4

! blue
URxvt*.color4:       #535353
URxvt*.color12:      #476185

! magenta
URxvt*.color5:       #e897b7
URxvt*.color13:      #e564b9

! cyan
URxvt*.color6:       #543441
URxvt*.color14:      #7a6a80

! white
URxvt*.color7:       #868686
URxvt*.color15:      #d5d5d5

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

urxvt --help 2>&1| sed -n '/:  /s/^ */! URxvt*/gp' >> ~/.Xresources

URxvt.font: xft:terminus:size=10

!urxvt*boldFont:          xft:terminus:pixelsize=7
URxvt.keysym.shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

